<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    <!-- -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.css">
    <!-- -->

    <!-- inicio import externos-->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- fim import externos-->

    <script src="app/config/pd-app.module.js"></script>
    <script src="app/controller/index.controller.js"></script>
    <script src="app/services/pd-alert.service.js"></script>

</head>
<body ng-app="pdCurso" class="container">

<div ng-controller="IndexController">

    <form name="formEntidade" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">Formulário Teste</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{'has-error':formEntidade.nome.$invalid && formEntidade.nome.$touched}">
                            <label class="control-label">Nome</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="entidade.nome"
                                   ng-maxlength="10"
                                   ng-minlength="2"
                                   ng-required="true"
                                   name="nome"
                                   id="itNome"
                                   autofocus>
                            <div ng-messages="formEntidade.nome.$error"
                                 ng-if="formEntidade.nome.$invalid && formEntidade.nome.$touched">
                                <div ng-messages-include="app/templates/ng-messages.html"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{'has-error':formEntidade.sobrenome.$invalid && formEntidade.sobrenome.$touched}">
                            <label class="control-label">Sobrenome</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="entidade.sobrenome"
                                   ng-required="entidade.nome ? true : false"
                                   name="sobrenome">
                            <div class="help-block" ng-messages="formEntidade.sobrenome.$error">
                                <div ng-message="required">Campo Obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':formEntidade.sexo.$invalid && formEntidade.sexo.$touched}">
                            <label class="control-label">Sexo</label>
                            <select type="text"
                                    class="form-control"
                                    ng-model="entidade.sexo"
                                    ng-required="true"
                                    name="sexo">
                                <option value="M">Masculino</option>
                                <option value="F">Feminino</option>
                            </select>

                            <div class="help-block" ng-messages="formEntidade.sexo.$error">
                                <div ng-message="required">Campo Obrigatório</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':formEntidade.nascimento.$invalid && formEntidade.nascimento.$touched}">
                            <label class="control-label">Data Nascimento</label>
                            <input type="date"
                                    class="form-control"
                                    ng-model="entidade.nascimento"
                                    ng-required="true"
                                    name="nascimento">

                            <div class="help-block" ng-messages="formEntidade.nascimento.$error">
                                <div ng-message="required">Campo Obrigatório</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="panel-footer">
                <button class="btn btn-primary"
                        ng-click="salvar()">Salvar</button>
                <button class="btn btn-warning"
                        ng-click="limpar()">Limpar</button>
                <button class="btn btn-danger">Excluir</button>
            </div>

        </div>
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Sexo</th>
                <th>Data Nascimento</th>
                <th>Ações</th>
            </tr>
            <tr ng-repeat="entidade in listEntidade">
                <td ng-bind="entidade.nome"></td>
                <td ng-bind="entidade.sobrenome"></td>
                <td ng-bind="entidade.sexo"></td>
                <td ng-bind="entidade.nascimento | date : 'dd/MM/yyyy'"></td>
                <td>
                    <button class="btn btn-primary"
                            ng-click="editar(entidade)">
                        Editar
                    </button>

                    <button class="btn btn-danger"
                            ng-click="excluir($index)">
                        Excluir
                    </button>

                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>